ul.pokemonlist li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 130%;
  color: $cloudy;
  &.catched>a {
    font-weight: 900;
    color: $iron;
  }
}

.custom-pkspr {
  margin-top: -7px; 
  float: left;
}