@{
	Layout = "/_Master.cshtml";
}

@if(!Metadata.ContainsKey("notitle"))
{
    <h1 class="page-title">
        @if(Metadata.ContainsKey("title"))
        {
            <div class="page-title__text">@Metadata["title"]</div>
        }
        @if(Metadata.ContainsKey("subtitle"))
        {
            <div class="page-title__subtitle">@Html.Raw(Metadata["subtitle"])</div>
        }
    </h1>
}

@RenderBody()