@using Chromaliste.Web.Core;

@{
    var slugifiedPostFile = ((string)Model[CustomKeys.WritePath].ToString()).Slugify();
    var pokemons = (Context.Outputs[nameof(PokemonJson)].First().ToList().First().Value as System.Collections.Generic.List<dynamic>);
    var currentPokemon = pokemons.First(x => x.number.ToString() == @Model[CustomKeys.Number].ToString()).pokeSpriteClass;
}

<li class="post-teaser">
    <a href="@Context.GetLink("/")@Model[CustomKeys.WritePath]">
        <span id="icon__@slugifiedPostFile" class="pkspr @currentPokemon color-shiny custom-pkspr"></span>
        <div>
            <span class="post-teaser__title">@Model[CustomKeys.Title]</span>
            <span class="post-teaser__date">@($"{Model.Get<DateTime>(CustomKeys.Date):dd MMMM yyyy}")</span>
        </div>
    </a>
</li>

<script type="text/javascript">PkSpr.decorate('icon__@slugifiedPostFile');</script>