@{
    var catchedPokemon = Context.Outputs[nameof(Posts)].OrderByDescending(x => x.Get(CustomKeys.WritePath));
    var pokemons = (Context.Outputs[nameof(PokemonJson)].First().ToList().First().Value as System.Collections.Generic.List<dynamic>);
}

<ul class="pokemonlist">

    @foreach (var pokemon in catchedPokemon)
    {
        var currentPokemon = pokemons.First(x => x.number.ToString() == pokemon[CustomKeys.Number].ToString());
        <li>
            <a title="@currentPokemon.name" href="@Context.GetLink("/")@pokemon[CustomKeys.WritePath]">
                <span class="pkspr @currentPokemon.pokeSpriteClass color-shiny"></span>
            </a>
        </li>
    }
</ul>

<script type="text/javascript">PkSpr.process_dom();</script>