function randomizePost()
{
    var postsUrl = [@Html.Raw(string.Join(",", Documents["Posts"].Select(x => $"\"{Context.GetLink((string)x["PostFile"])}\"")))];
    var postsTitle = [@Html.Raw(string.Join(",", Documents["Posts"].Select(x => $"\"{x["Title"]}\"")))];
    var randomIndex = Math.floor(Math.random() * postsUrl.length);
    document.write('<a href="' + postsUrl[randomIndex] + '">' + postsTitle[randomIndex] + '</a>');
}

function randomizeNextTarget()
{
    @{
        var uncaught = (Documents["PokemonJson"].First().ToList().First().Value as System.Collections.Generic.List<dynamic>)
            .Where(x => !Documents["Posts"]
                .Select(y => y["Number"])
                .Contains($"{x.number}"));
    }

    var unchaughtNumbers = [@Html.Raw(string.Join(",", uncaught.Select(x => $"\"{x.number}\"")))];
    var unchaughtNames = [@Html.Raw(string.Join(",", uncaught.Select(x => $"\"{x.name}\"")))];
    var randomIndex = Math.floor(Math.random() * unchaughtNumbers.length);
    document.write(unchaughtNumbers[randomIndex] + ' - ' + unchaughtNames[randomIndex]);
}
