function randomizePost()
{
    var postsUrl = [@Html.Raw(string.Join(",", Context.Outputs[nameof(Posts)].Select(x => $"\"{Context.GetLink((string)x[CustomKeys.WritePath])}\"")))];
    var postsTitle = [@Html.Raw(string.Join(",", Context.Outputs[nameof(Posts)].Select(x => $"\"{x["Title"]}\"")))];
    var randomIndex = Math.floor(Math.random() * postsUrl.length);
    document.write('<a href="' + postsUrl[randomIndex] + '">' + postsTitle[randomIndex] + '</a>');
}

function randomizeNextTarget()
{
    @{
        var uncaught = (Context.Outputs[nameof(PokemonJson)].First().ToList().First().Value as System.Collections.Generic.List<dynamic>)
            .Where(x => !Context.Outputs[nameof(Posts)]
                .Select(y => y[CustomKeys.Number])
                .Contains($"{x.number}"));
    }

    var unchaughtNumbers = [@Html.Raw(string.Join(",", uncaught.Select(x => $"\"{x.number}\"")))];
    var unchaughtNames = [@Html.Raw(string.Join(",", uncaught.Select(x => $"\"{x.name}\"")))];
    var randomIndex = Math.floor(Math.random() * unchaughtNumbers.length);
    document.write(unchaughtNumbers[randomIndex] + ' - ' + unchaughtNames[randomIndex]);
}
