ul.pokemonlist {
  padding-left: 0px;

  li {
    display: inline;
    color: $cloudy;

    &.not-catched {
      opacity: 0.2;
    }
  }
}

.custom-pkspr {
  margin-top: -7px;
  float: left;
}

.custom-pkspr-ball {
  margin-top: -7px;
  margin-bottom: -10px;
}
