$icon-size: 67px;

.ball-icon {
    margin-top: -7px;
    margin-bottom: -10px;
    display: inline;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, $icon-size + 3px);
    justify-content: center;
    justify-items: center;
}

.not-catched {
    opacity: 0.3;
}

.pokemon-icon {
    width: $icon-size;
    height: $icon-size;
    display: inline-block;
    filter: drop-shadow(5px 5px 5px #222);
}

.post-image {
    margin-left: auto;
    margin-right: auto;
}
