@charset "utf-8";

/* =Colors */
$dorian: #F5F5F5;
$iron: #333333;
$cloudy: #4F4B4B;
$blue: #1e5f86;

@import "mixins", "default", "search", "site";

.column {
    max-width: 800px;
    --labels-size: 3rem !important;
}
