---
notitle: 
---

@{
    var catchedPokemon = @Documents["Posts"].Select(x => x.Get("Number")).Distinct();
}

<h1 class="page-title">
    <div class="page-title__text">Table de capture</div>
    <div class="page-title__subtitle">Cible potentielle : <script type="text/javascript">randomizeNextTarget()</script></div>
</h1>

<ul class="pokemonlist">
    @{ 
        for(int i = 1; i <= 802; i++) 
        {
            if(catchedPokemon.Contains(i.ToString()))
            {
                <li class="catched">@i.ToString("000")</li>
            }
            else
            {
                <li>@i.ToString("000")</li>
            }
        } 
    }
</ul>  