@{
    var nbPkmsTotal = Pokemon.PokemonCount;
    var nbPkmsDistinct = Context.Outputs.FromPipeline(nameof(Posts)).Select(x => x[CustomKeys.Number]).Distinct().Count();
    var nbPkms = Context.Outputs.FromPipeline(nameof(Posts)).Count();
    var percent = nbPkmsDistinct * 100.0 / nbPkmsTotal;
}

<div class="explore">
    <div class="explore__devider">
        ------ Pokémon chromatiques : @nbPkmsDistinct/@nbPkms (@string.Format("{0:0.0}%", percent)) |
        <a id="randomPostLink"></a> ------
    </div>
    <ul class="categories">
        @foreach (string category in Context.Outputs.FromPipeline(nameof(Posts)).Select<IDocument, string>(x => (string)x[CustomKeys.Category]).Distinct().OrderBy(x => x))
        {
            <li class="categories__item"><a href="@Context.GetLink("/")categories/@(category.Slugify())">@category</a></li>
        }
    </ul>
    <div class="explore__label">
        Thème <a href="https://github.com/kronik3r/daktilo">Daktilo</a> sous licence MIT.<br/>
        Pokémon et tous les noms respectifs sont des marques déposées et © de Nintendo 1996-2020.
    </div>
</div>
