@{
    var title = string.Empty;
    if(Metadata.ContainsKey(CustomKeys.Title))
    {
        title += Metadata[CustomKeys.Title] + " &raquo "; 
    }
    
    title += @Context.GetString(CustomKeys.SiteTitle);
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Html.Raw(title)</title>
    <meta name="description" content="ChromaListe by Keuvain">
    <link rel="icon" href="@Context.GetLink("/assets/img/favicon.ico")" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <link href="@Context.GetLink("/assets/css/master.css")" rel="stylesheet" />
    <script src="https://unpkg.com/lunr/lunr.min.js"></script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
</head>
