<!DOCTYPE html>
<html lang="fr">
    @await Html.PartialAsync("_Head")

<body>
    <div class="wrapper">
        @await Html.PartialAsync("_Navbar")
        @RenderBody()
    </div>

    @await Html.PartialAsync("_Footer")

    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", false)
</body>
</html>
