<!DOCTYPE html>
<html lang="fr">
    @Html.Partial("_Head")

    <body>
        <div class="wrapper">
            @Html.Partial("_Navbar")
            @RenderBody()                
        </div>

        @Html.Partial("_Footer")
    </body>
</html>