@{
	Layout = "/_Master.cshtml";
}

@if(!Metadata.ContainsKey(CustomKeys.NoTitle))
{
    <div class="page-title">
        @if(Metadata.ContainsKey(CustomKeys.Title))
        {
            <div class="page-title__text">@Metadata[CustomKeys.Title]</div>
        }
        @if(Metadata.ContainsKey(CustomKeys.Subtitle))
        {
            <div class="page-title__subtitle">@Html.Raw(Metadata[CustomKeys.Subtitle])</div>
        }
    </div>
}

@RenderBody()

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}
