@{
    var slugifiedPostFile = ((string)Model[CustomKeys.WritePath].ToString()).Slugify();
}

<li class="post-teaser">
    <a href="@Context.GetLink("/")@Model[CustomKeys.WritePath]">
        <img style="width:40px;height:40px;" class="custom-pkspr" src="@Model[CustomKeys.Icon]">
        <div>
            <span class="post-teaser__title">@Model[CustomKeys.Title]</span>
            <span class="post-teaser__date">@($"{Model.Get<DateTime>(CustomKeys.Date):dd MMMM yyyy}")</span>
        </div>
    </a>
</li>
