@inherits Statiq.Razor.StatiqRazorPage<PostData>

<li class="post-teaser">
    <a href="@Context.GetLink("/")@Model.WritePath">
        <div>
            <span class="post-teaser__title">@Model.Name</span>
            <span class="post-teaser__date">@($"{Model.CatchDate:dd MMMM yyyy}")</span>
        </div>
    </a>
</li>
