---
title: Statistiques
---

@{
    var catchedPokemon = Context.Outputs["Posts"].OrderByDescending(x => x.Get("PostFile"));
    var pokemons = (Context.Outputs["PokemonJson"].First().ToList().First().Value as System.Collections.Generic.List<dynamic>);
}

<ul class="pokemonlist">

    @foreach (var pokemon in catchedPokemon)
    {
        var currentPokemon = pokemons.First(x => x.number.ToString() == pokemon["Number"].ToString());
        <li>
            <a title="@currentPokemon.name" href="@Context.GetLink(pokemon)">
                <span class="pkspr @currentPokemon.pokeSpriteClass color-shiny"></span>
            </a>
        </li>
    }
</ul>

<script type="text/javascript">PkSpr.process_dom();</script>